body {
  background: url('./img/test.jpg');
  font-family: 'Gayathri', sans-serif;
}

.card-title {
  text-align: center;
  font-size: 100px;
  padding: 30px;
}


.card {
  background: #F6EBE7;
  margin-top: 30px;
}